<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/article.css" />
    <!-- *google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cairo:wght@300&display=swap"
      rel="stylesheet"
    />
    <!-- //*Footer  -->
    <link
      rel="stylesheet"
      href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"
    />
    <link
      rel="shortcut icon"
      href="/images/icons8-read-96.png"
      type="image/x-icon"
    />
    <title><%= articleData[0].article_title%></title>
    <meta
      property="og:url"
      content="https://cdn-developer-wp.arc.dev/wp-content/uploads/2022/06/coding-programming-project-ideas-1128x635.jpg"
    />
    <meta property="og:type" content="Article " />
    <meta property="og:title" content="Testing share" />
    <meta
      property="og:description"
      content="How much does culture influence creative thinking?"
    />
    <meta
      property="og:image"
      content="https://cdn-developer-wp.arc.dev/wp-content/uploads/2022/06/coding-programming-project-ideas-1128x635.jpg"
    />
  </head>
  <body>
    <%- include('./nav'); -%>

    <div class="articleContainer">
      <h6 id="pub_at">published at <%= articleData[0].article_created_at.toLocaleDateString('en-US', {
                month: 'long', day: 'numeric', year: 'numeric' })%></h6>
      <h1 id="main_title"><%= articleData[0].article_title%></h1>
      <h5 id="author">
        This article written by <span id="authName">techJoy staff</span>
      </h5>
      <div class="shareBtns">
        <a
          href="https://www.facebook.com/sharer/sharer.php?app_id=1460941267346567&sdk=joey&u=https://developers.facebook.com/docs/sharing/web"
          onclick="return !window.open(this.href, 'Facebook', 'width=640,height=580')"
        >
          <i class="fa-brands fa-square-facebook" id="facebookBtn"></i>
        </a>
        <a
          href="https://www.linkedin.com/shareArticle?mini=true&url=https://developers.facebook.com/docs/sharing/web"
          onclick="window.open(this.href, 'mywin',
        'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;"
        >
          <i class="fa-brands fa-linkedin"></i>
        </a>

        <a
          href="whatsapp://send?text=https://https://developers.facebook.com/docs/sharing/web"
          data-action="share/whatsapp/share"
        >
          <i class="fa-brands fa-whatsapp"></i>
        </a>
        <i class="fa-brands fa-twitter"></i>
      </div>
      <p id="tag">#<%= tagData[0].tag_name%></p>
      <!-- prettier-ignore -->
      <img src= /<%= articleData[0].image_pathLocation %> id="mainCover" />
      <p id="descr"><%= articleData[0].article_description%></p>

      <div class="articlbody">
        <p id="desc_1"><%= articleData[0].article_content%></p>
      </div>

      <div class="comments">
        <h2>LEAVE A COMMENT</h2>
        <form action="/ArticleComment/<%= articleData[0].article_id%>" method="post">
          <textarea
            name="comment"
            id="comment"
            placeholder="write your thoughts..."
            required
          ></textarea>
          <button type="submit">submit</button>
          
        </form>
        <%if (!user) {%>
          <hr style="margin:20px 0px"/>
          <h5 style="color: #555;padding: 20px 40px;">Be the first one to comment</h5>
              <%}else {%>
                <% for(let i=0; i <comments.length;i++) { %>
                <div class="comment_slot">
                  
                  <div class="user_data">
                    <img
                    src="https://ps.w.org/user-avatar-reloaded/assets/icon-256x256.png?rev=2540745"
                    alt=""
                    />
                <% for(let i=0; i <user.length;i++) { %>
                  <h4 class="usrName"><%=user[i].user_name%></h4>
                  <%}%>
                  <span class="datespam"><%= articleData[0].article_created_at.toLocaleDateString('en-US', {
                    month: 'long', day: 'numeric', year: 'numeric' })%></span>
            </div>
            <p class="commentContent">
              <%=comments[i].comment_content%>
            </p>
          </div>
          <%}%>
        <%}%>
      </div>
    </div>
    <%- include('./footer'); -%>
    <script>
      // DROP DOWN MENU
      const myAccBtn = document.querySelector("nav > span");
      const dropMenu = document.querySelector(".dropdown_menu");
      if (myAccBtn)
        myAccBtn.addEventListener("click", () => {
          dropMenu.classList.toggle("dropdown_Active");
        });
    </script>
    <script
      src="https://kit.fontawesome.com/53405766b0.js"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
