<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TechJoy ||Admin</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="./css/dashboard-style.css" />
    <link rel="icon" type="image/x-icon" href="./images/icons8-read-96.png" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="app-container">
      <!--!   -----------------------------------  side bar -------------------------------------------------------------------->
      <div class="sidebar">
        <ul class="sidebar-list">
          <li class="sidebar-list-item">
            <a href="./home">
              <span>-> Go Home</span>
            </a>
          </li>
          <li class="sidebar-list-item active">
            <a class="tablink" id="defaultOpen" href="#">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-shopping-bag"
              >
                <path d="M6 2L3 6v14a2 2 0 0 0 2 2h14a2 2 0 0 0 2-2V6l-3-4z" />
                <line x1="3" y1="6" x2="21" y2="6" />
                <path d="M16 10a4 4 0 0 1-8 0" />
              </svg>
              <span>articles</span>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a class="tablink" href="./subscribers">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-pie-chart"
              >
                <path d="M21.21 15.89A10 10 0 1 1 8 2.83" />
                <path d="M22 12A10 10 0 0 0 12 2v10z" />
              </svg>
              <span>subscribers</span>
            </a>
          </li>
          <li class="sidebar-list-item">
            <a class="tablink" href="./users">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="18"
                height="18"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-inbox"
              >
                <polyline points="22 12 16 12 14 15 10 15 8 12 2 12" />
                <path
                  d="M5.45 5.11L2 12v6a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-6l-3.45-6.89A2 2 0 0 0 16.76 4H7.24a2 2 0 0 0-1.79 1.11z"
                />
              </svg>
              <span>users</span>
            </a>
          </li>
        </ul>
        <div class="account-info">
          <div class="account-info-picture">
            <img
              src="https://images.unsplash.com/photo-1527736947477-2790e28f3443?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTE2fHx3b21hbnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60"
              alt="Account"
            />
          </div>
          <div class="account-info-name">zayd inani</div>
        </div>
      </div>
      <!--!   -----------------------------------  article tab -------------------------------------------------------------------->
      <div class="app-content tabcontent slide-in-top" id="articles">
        <div class="app-content-header">
          <h1 class="app-content-headerText">articles</h1>
          <button class="mode-switch" title="Switch Theme">
            <svg
              class="moon"
              fill="none"
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              width="24"
              height="24"
              viewBox="0 0 24 24"
            >
              <defs></defs>
              <path d="M21 12.79A9 9 0 1111.21 3 7 7 0 0021 12.79z"></path>
            </svg>
          </button>
          <form action="/newArticle" method="post">
            <button class="app-content-headerButton" type="submit">
              Add article
            </button>
          </form>
        </div>
        <div class="app-content-actions">
          <input class="search-bar" placeholder="Search..." type="text" />
          <div class="app-content-actions-wrapper">
            <div class="filter-button-wrapper">
              <button class="action-button filter jsFilter">
                <span>Filter</span
                ><svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  viewBox="0 0 24 24"
                  fill="none"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  class="feather feather-filter"
                >
                  <polygon
                    points="22 3 2 3 10 12.46 10 19 14 21 14 12.46 22 3"
                  />
                </svg>
              </button>
              <div class="filter-menu">
                <label>Admins</label>
                <select>
                  <option>All admins</option>
                  <option>Zayd inani</option>
                  <option>Yassin bakari</option>
                  <option>Mohammed Taoufik Marsou</option>
                </select>
                <div class="filter-menu-buttons">
                  <button class="filter-button reset">Reset</button>
                  <button class="filter-button apply">Apply</button>
                </div>
              </div>
            </div>
            <button class="action-button list active" title="List View">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-list"
              >
                <line x1="8" y1="6" x2="21" y2="6" />
                <line x1="8" y1="12" x2="21" y2="12" />
                <line x1="8" y1="18" x2="21" y2="18" />
                <line x1="3" y1="6" x2="3.01" y2="6" />
                <line x1="3" y1="12" x2="3.01" y2="12" />
                <line x1="3" y1="18" x2="3.01" y2="18" />
              </svg>
            </button>
            <button class="action-button grid" title="Grid View">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="feather feather-grid"
              >
                <rect x="3" y="3" width="7" height="7" />
                <rect x="14" y="3" width="7" height="7" />
                <rect x="14" y="14" width="7" height="7" />
                <rect x="3" y="14" width="7" height="7" />
              </svg>
            </button>
          </div>
        </div>
        <div class="products-area-wrapper tableView">
          <div class="products-header">
            <div class="product-cell image">title</div>
            <div class="product-cell admin">admin</div>
            <div class="product-cell date">date published</div>
            <div class="product-cell">edit</div>
            <div class="product-cell">delete</div>
          </div>
          <% for(let i = 0; i < articles.length ; i++) { %>
          <!-- //* row start here -->
          <div class="products-row">
            <div class="product-cell image">
              <!-- prettier-ignore -->
              <img src=<%= articles[i].image_pathLocation %>
              <span><%=articles[i].article_title %></span>
            </div>
            <div class="product-cell admin">
              <span class="cell-label">admin:</span
              ><%=articles[i].admin_username%>
            </div>
            <div class="product-cell date">
              <span class="cell-label">date-published:</span
              ><%=articles[i].article_created_at.toLocaleDateString('en-US', {
              month: 'long', day: 'numeric', year: 'numeric' }) %>
            </div>
            <div class="product-cell">
              <button class="app-content-headerButton">edit</button>
            </div>
            <div class="product-cell">
              <a
                class="delete"
                href="/admin/delete/article/<%=articles[i].article_id%>"
                >delete</a
              >
            </div>
          </div>
          <!-- //* row end here -->
          <% } %>
        </div>
      </div>
    </div>

    <!-- partial -->
    <script src="./JavaScript/dash-JS.js"></script>
  </body>
</html>
