<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>TechJoy || Admin</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css"
    />
    <link rel="stylesheet" href="./css/dashboard-style.css" />
    <link rel="icon" type="image/x-icon" href="./images/icons8-read-96.png" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <div class="app-container">
      <!--!   -----------------------------------  side bar -------------------------------------------------------------------->
      <%- include('./sidebar'); -%>
      <!--!   -----------------------------------  article tab -------------------------------------------------------------------->
      <div class="app-content tabcontent slide-in-top" id="articles">
        <div class="app-content-header">
          <h1 class="app-content-headerText">articles</h1>
          <a class="app-content-headerButton" href="new-article">
            Add article
          </a>
        </div>
        <div class="app-content-actions">
          <input class="search-bar" placeholder="Search..." type="text" />
        </div>
        <div class="products-area-wrapper tableView">
          <div class="products-header">
            <div class="product-cell image">title</div>
            <div class="product-cell admin">admin</div>
            <div class="product-cell date">date published</div>
            <div class="product-cell">edit</div>
            <div class="product-cell">delete</div>
          </div>
          <% for(let i = 0; i < articles.length ; i++) { %>
          <!-- //* row start here -->

          <a href="checkArticle/<%=articles[i].article_id%>">
            <div class="products-row">
              <div class="product-cell image">
                <!-- prettier-ignore -->
                <img src=<%= articles[i].image_pathLocation %> >
                <span><%=articles[i].article_title %></span>
              </div>
              <div class="product-cell admin">
                <span class="cell-label">admin:</span
                ><%=articles[i].admin_username%>
              </div>
              <div class="product-cell date">
                <span class="cell-label">date-published:</span
                ><%=articles[i].article_created_at.toLocaleDateString('en-US', {
                month: 'long', day: 'numeric', year: 'numeric' }) %>
              </div>
              <div class="product-cell">
                <form
                  action="/admin/edit/article/<%=articles[i].article_id%>"
                  method="get"
                >
                  <button class="app-content-headerButton" type="submit">
                    edit
                  </button>
                </form>
              </div>
              <div class="product-cell">
                <form
                  action="/admin/delete/article/<%=articles[i].article_id%>"
                  method="get"
                >
                  <button class="delete" type="submit">delete</button>
                </form>
              </div>
            </div>
          </a>
          <!-- //* row end here -->
          <% } %>
        </div>
      </div>
    </div>

    <!-- partial -->
    <script src="./JavaScript/dash-JS.js"></script>
  </body>
</html>
