<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/CreatArt.css" />
    <!-- //*Footer  -->
    <link
      rel="stylesheet"
      href="https://demos.creative-tim.com/notus-js/assets/styles/tailwind.css"
    />
    <link
      rel="stylesheet"
      href="https://demos.creative-tim.com/notus-js/assets/vendor/@fortawesome/fontawesome-free/css/all.min.css"
    />
    <!-- //*Font awsome  -->
    <script
      src="https://kit.fontawesome.com/53405766b0.js"
      crossorigin="anonymous"
    ></script>
    <link rel="icon" type="image/x-icon" href="/images/icons8-read-96.png" />

    <title>Create new article</title>
    <style>
      #gb-pg {
        font-weight: bold;
        text-decoration: underline;
      }
    </style>
  </head>
  <body>
        <!-- Modal content -->
        <!-- The Modal -->
        <div id="myModal" class="modal">
          <div class="modal-content">
            <span class="close">&times;</span>
            <div class="form-content">

              <h1>write tag name</h1>
              <form action="add-tag" method="post">
              <input type="text" name="tag">
                <button class="button" type="submit">
                  add
                </button>
              </form>
            </div>
          </div>
        </div>


    <img src="/images/artImg.svg" alt="" />
    <div class="container">
      <a href="/dash" id="gb-pg">>> GO BACK</a>
      <h1>CREATE NEW ARTICLE</h1>
      <form
        action= <%=editMode? '/updateArticle' : '/creatingArticle' %>
        method="post"
        enctype="multipart/form-data"
      >
        <label for="auth">Auther_id</label>
        <select name="auth_id" id="auth_id">
          <!-- DISPLAYING admin INFO  -->
          <% if(editMode == false) {%> <% admin_rows.forEach(admin => {%>
          <option><%= admin.admin_id%> <%= admin.admin_username%></option>
          <% })%> <% }else {%>
          <option><%= articleData[0].author_id%></option>
          <% } %>
        </select>
        <label for="tag">Select a tag :</label>
        <!--TODO !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ADDING NEW TAG -->
        <a class="addNewTag" id="myBtn" href="#">Add new tag</a>
        <!--TODO !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! ADDING NEW TAG -->
        <select name="tag" id="tag">
          <!-- displaying tags info -->
          <% if(editMode ==false) {%> <% tags.forEach(tag => {%>
          <option><%= tag.tag_id%> <%= tag.tag_name%></option>
          <% })%> <% }else {%>
          <option><%= articleData[0].tags_id%></option>
          
          <% } %>
        </select>
        <label for="img">Select image :</label>
        <input
          type="file"
          id="articleImage"
          name="articleImage"
          accept="image/png, image/jpeg,image/jpg "
          required
        />
        <label for="title">Enter Title :</label>
        <input type="text" name="title" placeholder="title..." <% if(editMode
        ==true) {%> value="<%= articleData[0].article_title%>" <% }%>required /
        >
        <label for="ArtHook"> article hook :</label>
        <textarea
          name="ArtHook"
          id="ArtHook"
          name="ArtHook"
          placeholder="type here ..."
          required
        >
        <% if(editMode
        ==true){ %><%= articleData[0].article_description%> <% } %>
      </textarea
        >
        <label for="ArtBody"> article body :</label>
        <textarea
          name="ArtBody"
          id="ArtBody"
          name="ArtBody"
          placeholder="type here ..."
          required
        >
        <% if(editMode
        ==true){ %><%= articleData[0].article_content%> <% } %>
        </textarea>
        <button type="submit"><%=editMode? 'UPDATE' : 'SUBMIT' %></button>
        <%if(articleData) {%>
        <input type="hidden" name="article_id" value=<%= articleData[0].article_id%> >
        <%}%>
      </form>
    </div>
    <%- include('./footer'); -%>
    <script>
      // DROP DOWN MENU
      const myAccBtn = document.querySelector("nav > span");
      const dropMenu = document.querySelector(".dropdown_menu");
      if (myAccBtn)
        myAccBtn.addEventListener("click", () => {
          dropMenu.classList.toggle("dropdown_Active");
      });
      // Get the modal
      const modal = document.getElementById("myModal");

      // Get the button that opens the modal
      const btn = document.getElementById("myBtn");

      // Get the <span> element that closes the modal
      const span = document.getElementsByClassName("close")[0];

      // When the user clicks the button, open the modal 
      btn.onclick = function() {
        modal.style.display = "block";
      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
    </script>
  </body>
</html>
